# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
_Build
.venv*
jumperlessWokwiBridge/dist/*
jumperlessWokwiBridge/build/*

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv
*Store
Hardware/Jumperless23V50/~Jumperless23V50.kicad_pcb.lck
*.lck
JumperlessWokwiBridge/build/Jumperless/Analysis-00.toc
JumperlessWokwiBridge/build/Jumperless/EXE-00.toc
JumperlessWokwiBridge/build/Jumperless/PKG-00.toc
JumperlessWokwiBridge/build/Jumperless/warn-Jumperless.txt
JumperlessWokwiBridge/JumperlessDMG/Jumperless.app/Contents/Frameworks/psutil/_psutil_posix.abi3.so
JumperlessWokwiBridge/JumperlessFiles
JumperlessWokwiBridge/Jumper
*.so
/RP23V50firmware/.cache
.Trash*
JumperlessWokwiBridge/*tar.gz
JumperlessWokwiBridge/builds/
JumperlessWokwiBridge/tools/
JumperlessWokwiBridge/*.AppDir
JumperlessWokwiBridge/*.zip
JumperlessWokwiBridge/JumperlessWindows/



RP23V50firmware/examples/logic-analyzer-main/*
RP23V50firmware/examples/BusPirate5-firmware-main/*

# PulseView Build Artifacts (should be in libsigrok-falaj repo instead)
build_pulseview_*.sh
PULSEVIEW_*_README.md
PulseView-*.app/
pulseview_*_build/
*.dmg
RP23V50firmware/examples/libsigrok-master/*
RP23V50firmware/examples/libsigrok-falaj/*
RP23V50firmware/examples/pulseview-master/*
JumperlessWokwiBridge/WokwiSketch/WokwiSketch.ino
JumperlessWokwiBridge/WokwiSketch/WokwiSketch.ino
JumperlessWokwiBridge/WokwiSketch/WokwiSketch.ino
RP23V50firmware/lib/JDI_MIP_Display/breakout/
RP23V50firmware/lib/JDI_MIP_Display/images/
RP23V50firmware/lib/JDI_MIP_Display/examples/
