---
Language: Cpp
BasedOnStyle: LLVM
ColumnLimit: 0
IndentWidth: 4
TabWidth: 4
UseTab: Never
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: true
SpacesInParentheses: true
SpacesInSquareBrackets: true
SpaceBeforeAssignmentOperators: true

Standard: Cpp11